* {
  border-radius: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  height: 70%;
  width: 70%;
  padding: 10px;
  box-shadow: 0px 0px 65px rgb(159, 159, 159);
  margin: 15px;
  border-radius: 0;
}

.members-container {
  height: 95%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.members-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: auto;
  border-radius: 0;
  padding: 5px;
}

.members-count {
  padding-left: 10px;
  color: gray;
  font-weight: 600;
}

.messages-container {
  height: 95%;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.messages {
  height: 100%;
  background-color: white;
}

.members-container,
.messages-container {
  /* border: 1px solid #cfcfcf; */
  padding: 15px;
  background-color: #f1f1f1;
  box-shadow: inset 0px 0px 5px rgb(208, 208, 208) ;
}

.messages {
  overflow: auto;
  box-shadow:  0px 0px 5px rgb(208, 208, 208) ;
}



.message {
  padding: 5px 0;
}
.message .member {
  display: inline-block;
}

.member {
  padding: 8px;
  position: relative;
  background-color: rgb(100, 112, 227);
  color: white;
  border-radius: 15px;
  box-shadow:  0px 0px 6px rgb(185, 185, 185);
  font-weight: 400;
}

.message-form {
  display: flex;
  flex-shrink: 0;
  gap: 5px;
}
.message-form__input {
  border: 1px solid #dfdfdf;
  padding: 10px 15px;
  font-size: 16px;
  width: 80%;
  box-shadow:  0px 0px 5px rgb(200, 200, 200);
}
.message-form__button {
  padding: 10px 5px;
  width: 10%;
  height: 100%;
  background-color: rgb(100, 112, 227);
  color: white;
  font-weight: 600;
  border: 0;
  box-shadow:  0px 0px 5px rgb(200, 200, 200);
  background-image: url('../media/send.svg');
  background-repeat: no-repeat;
  background-position: center;
}
